@import 'fonts';
.list {
  position: relative;
  // overflow: hidden;

  ul {
    position: absolute;
    right: 0;
    margin-top: 1.1rem;
    background-color: #f2f2f2;
    padding: 2rem;
    width: 300px;
    top: 8%;
    height: 100vh;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 9999999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    @media (min-width: 768px) {
      top: 0;
      margin-top: 0rem;
    }

    .menuDonate {
      button {
        display: block;
        margin: 0 auto;
        padding: .3rem 2rem;
        background-color: #E94F37;
        color: #ffffff;
        border: none;
        font-size: 2.5rem;

        &:nth-of-type(1) {
          margin-top: 3rem;
        }

        &:nth-of-type(2) {
          background: transparent;
          border: 1px solid #E94F37;
          color: #333;
          margin-top: 2rem;
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    a {
      display: block;
      text-decoration: none;
      padding: 1.5rem 0;
      font-size: 3rem;
      color: #444;
      font-family: 'Rajdhani', sans-serif;

      @media(min-width: 768px) {
        padding: 3rem 0;
      }

      @media(min-width: 992px) {
        padding: 4rem 0;
      }

      &:hover {
        opacity: .7;
      }
    }

    a:nth-of-type(1) {
      margin-top: 3rem;

      @media(min-width: 768px) {
        margin-top: 6rem;
      }

      @media(min-width: 992px) {
        margin-top: 10rem;
      }
    }

    .active {
      color: #E94F37;
    }
  }
}

.show_menu {
  animation-name: cartSlide;
  animation-duration: 1s;
}

@keyframes cartSlide {
  0%{
    transform: translateX(1200px);
  }
  100%{
    transform: translateX(0);
  }
}