@use '../abstract/fonts';

.donate-hero {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://images.pexels.com/photos/1490908/pexels-photo-1490908.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45vh;

	.donate-section {
		padding: 1000px 0;
		
		P {
		color: red;
	}
	}
}
