@use 'abstract/_colors';
@use 'abstract/_fonts';
@use 'components/_header';
@use 'components/_hero';
@use 'components/_footer';
@use 'components/_modal';
@use 'components/_sideMenu';
@use 'components/_form';
@use 'components/_slider';
@use 'components/_buttons';

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow:wght@200&family=Caveat:wght@600&family=Jockey+One&family=Lemonada:wght@700&family=Rajdhani:wght@300&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Gemunu+Libre:wght@300&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: fonts.$font-size;
  scroll-behavior: smooth;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

body {
  font-size: fonts.$body-font-size;
  position: relative;
  min-height: 100%;
  padding-bottom: 1200px;
  font-family: 'Barlow', sans-serif;

  @media (min-width: 768px) {
    padding-bottom: 950px;
  }

  @media (min-width: 992px) {
    padding-bottom: 600px;
  }
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #444;
  letter-spacing: .8px;
  font-family: 'Barlow', sans-serif;

  @media (min-width: 768px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

}

h2 {
  font-family: fonts.$logo-font;
}

h3, h4, h5, h6 {
  font-family: 'Walter Turncoat', cursive;
}

button {
  letter-spacing: .3rem;
  font-family: fonts.$logo-font;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: .5rem;
}

h1, h2 h3, h4, h5, h6 {
  letter-spacing: .3rem;
}

img {
  width: 100%;
}

.featured {
  background-color: #f2f2f2;
  padding: 2rem 0;
  // margin-top: 5rem;

  .image-featured {
    width: 92vw;
    margin: 0 auto;

    @media(min-width: 768px) {
      width: 90vw;
      padding: 4rem 0;
    }

    @media(min-width: 992px) {
      width: 65vw;
      padding: 6rem 0;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #E94F37;
      font-family: fonts.$logo-font;

      @media(min-width: 768px) {
        margin-bottom: 2rem;
      }
    }

    .featured-container {
      @media(min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
      }

      @media(min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4rem;
      }

      img {
        border-radius: .3rem;
        cursor: pointer;
        margin-top: 1rem;

        @media(min-width: 768px) {
          margin-top: 0;
        }
        
        &:hover {
          opacity: .7;
          transition: .3s ease-in-out;
        }
      }
    }

    .container-image {
      @media(min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
      }

      @media(min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4rem;
      }

      img {
        border-radius: .3rem;
        cursor: pointer;
        margin-top: 1rem;

        @media(min-width: 768px) {
          margin-top: 0rem;
        }
        
        &:hover {
          opacity: .7;
          transition: .3s ease-in-out;
        }
      }
    }
    
  }
}

.buy-info {
  width: 92vw;
  margin: 0 auto;
  text-align: center;

  @media(min-width: 768px) {
    width: 90vw;
  }

  @media(min-width: 992px) {
    width: 65vw;
  }

  h2 {
    color: #f2f2f2;
    font-size: 3rem;
    font-family: 'Lemonada', cursive;

    @media(min-width: 768px) {
      font-size: 6rem;
    }
  }

  h3 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-top: 1.3rem;
    font-family: fonts.$logo-font;

    @media(min-width: 768px) {
      font-size: 3rem;
    }
  }
}

.description {
  margin-top: 6rem;
}

.flex {
  background-color: #f2f2f2;
  padding: 2rem 0;

  @media(min-width: 768px) {
   padding: 7rem 0;
  }

  .flex-basis-container {
    width: 92vw;
    margin: 0 auto;

    @media(min-width: 768px) {
      width: 90vw;
    }

    @media(min-width: 992px) {
      display: flex;
      gap: 4rem;
      width: 65vw;
    }
    
    .right-basis {
      flex-basis: 55%;

      img {
        border-radius: .3rem;
      }
    }

    .left-basis {
      flex-basis: 45%;

      p {
        margin-bottom: 1.2rem;
      }

      span {
        font-weight: 700;
        color: #111;
      }

      button {
        padding: .6rem 2rem;
        border: 1px solid #E94F37;
        font-size: 2rem;
        margin-top: 2rem;
      }

      h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
        color: #E94F37;
        font-family: fonts.$logo-font;
      }
    }
  }
}


.flex-basis {
  background-color: #f2f2f2;
  padding: 2rem 0;

  @media(min-width: 768px) {
    padding: 7rem 0;
  }

  .flex-basis-container {
    width: 92vw;
    margin: 0 auto;

    @media(min-width: 768px) {
      width: 90vw;
    }

    @media(min-width: 992px) {
      display: flex;
      gap: 4rem;
      width: 65vw;
    }
    
    .right-basis {
      flex-basis: 55%;

      img {
        border-radius: .3rem;
      }
    }

    .left-basis {
      flex-basis: 45%;

      p {
        margin-bottom: 1.2rem;
      }

      span {
        font-weight: 700;
        color: #111;
      }

      button {
        padding: .6rem 2rem;
        border: 1px solid #E94F37;
        font-size: 2rem;
        margin-top: 2rem;
      }

      h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #E94F37;
        font-family: fonts.$logo-font;
      }
    }
  }
}

.image-container {
  position: relative;
  overflow: hidden;
}

.img-details {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  color: #E94F37;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-hero {
  // overflow: hidden;
  position: relative;
  .slider {
    display: inline-block;
    position: absolute;
  }
}

.might-also-like {
  background-color: #f2f2f2;
  padding: 6rem 0;

  .container {
    h2 {
      font-size: 3rem;
      margin: 1.5rem 0 1.8rem 0;
      color: #E94F37;
      font-family: fonts.$logo-font;
    }

    margin: 0 auto;
    @media(min-width: 768px) {
      width: 90vw;
    }
    
    @media(min-width: 768px) {
      width: 65vw;
    }

    .might-also-like-container {
      @media(min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
      }
    
      @media(min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 6rem;
      }
  
      img {
        border-radius: .3rem;
        cursor: pointer;
        margin-top: 1rem;
  
        @media(min-width: 768px) {
          margin-top: 0;
        }
        
        &:hover {
          opacity: .7;
          transition: .3s ease-in-out;
        }
      }
    }
  }
}